.dialog-content {
  height: 50vh;
  width: 50vh;
  background-color: #212121;
}

.content-div {
  margin: 4px;
}

.dialog-actions {
  background-color: #212121;
}

.dialog-title {
  align-self: center;
}






