
<div class="content" role="main"></div>
<div>
  <svg
    class="waves"
    *ngIf="showWaves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"
  >
    <defs>
      <path
        id="gentle-wave"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="10" fill="#9757ff" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(140, 69, 255, 1)" />
    </g>
  </svg>
</div>
<router-outlet></router-outlet>
