<h2 mat-dialog-title style="background-color: #212121">
  <mat-icon class="material-symbols-outlined">question_mark</mat-icon>
  How to play
</h2>
<mat-dialog-content class="dialog-content">
  <div class="content-div" style="align-items: center">
    <p style="margin-top: 50px">1- Listen to a short audio clip of a song. </p>
    <p>2- Guess the title and artist of the song.</p>
    <p>3- Type your answer into the provided box.</p>
    <p>4- Get points for each correct guess.</p>
    <p>Have fun and enjoy the music!</p>

  </div>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button class="button" mat-button mat-dialog-close (click)="closeDialog()">Close</button>
</mat-dialog-actions>
