<app-toolbar></app-toolbar>
<div class="main-div">
  <div class="main-text">
    <h1>Choose your category</h1>
    <div class="menu-div">
    <a>
      <app-menu-card class="preview-card" title="Your Spotify Playlist"
                     body="Choose a playlist from your spotify account"></app-menu-card>
    </a>
    <a>
      <app-menu-card class="preview-card" title="Anime"
                     body="500 most famous animes in MyAnimeList"></app-menu-card>
    </a>
      <a>
        <app-menu-card class="preview-card" title="2000s"
                       body="100 most famous songs from 2000s"></app-menu-card>
      </a>
      <a>
        <app-menu-card class="preview-card" title="90s"
                       body="100 most famous songs from 90s"></app-menu-card>
      </a>
      <a>
        <app-menu-card class="preview-card" title="80s"
                       body="100 most famous songs from 80s"></app-menu-card>
      </a><a>
      <app-menu-card class="preview-card" title="70s"
                     body="100 most famous songs from 70s"></app-menu-card>
    </a>
      <button (click)="service.drawTopTracks()">PLay</button>
    </div>
  </div>
</div>
