<h2 mat-dialog-title style="background-color: #212121">
  <mat-icon class="material-symbols-outlined">equalizer</mat-icon>
  Statistics
</h2>
<mat-dialog-content class="dialog-content">
  <div class="container">
    <div class="number">
      <p>9</p>
      <p>Played</p>
    </div>
    <div class="number">
      <p>78</p>
      <p>Win %</p>
    </div>
    <div class="number">
      <p>2</p>
      <p>Current Streak</p>
    </div>
    <div class="number">
      <p>2</p>
      <p>Max Streak</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button class="button" mat-button mat-dialog-close (click)="closeDialog()">Close</button>
</mat-dialog-actions>
