<div>
  <audio [src]="audioUrl" #audio></audio>
  <div  class="answer-module green absoluteCenter">
    <div class="popup-inner">
      <div class="popup-title">
        <h1>Well Done!</h1>
      </div>
      <div class="popup-player">
        <img [src]="imageUrl"  alt="image" />
        <div class="inner-player-flex">
          <div>
            <h3>
              <span style="font-weight: bolder"> {{ title }} </span>
            </h3>
            <p style="font-weight: bolder"> {{ artist }} </p>
            <p>
              <i>
                {{album}}
              </i>
            </p>
            <button class="btn playback-btn" (click)="audio.play()" mat-raised-button color="primary">Play</button>
            <button class="btn playback-btn" (click)="audio.pause()" mat-raised-button color="primary">Stop</button>
          </div>
        </div>
      </div>
      <div class="popup-streak">
        <div>

          <span class="streak-count">Streak: <strong>3</strong>  </span>
        </div>
      </div>
      <button class="btn playback-btn" mat-raised-button color="primary">Continue</button>
    </div>
  </div>
</div>
