<app-toolbar></app-toolbar>
<form class="login-form">
  <h4>If you already has an account, click in the login button to be redirected</h4>
  <mat-form-field class="login-form-field">
    <mat-label class="mat-label">Email</mat-label>
    <input type="text" class="form-input" matInput [formControl]="usernameFormControl" placeholder="Email">
  </mat-form-field>
  <mat-form-field class="login-form-field">
    <mat-label class="mat-label">Username</mat-label>
    <input type="text" class="form-input" matInput [formControl]="usernameFormControl" placeholder="Username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input class="form-input" type="password" matInput [formControl]="usernameFormControl" placeholder="Password">
  </mat-form-field>
  <div class="form-buttons">
    <button type="submit" class="btn clr" mat-raised-button color="primary" style="margin: 5px">Register</button>
    <button type="submit" class="btn clr" mat-raised-button color="primary" style="margin: 5px" (click)="redirectToLogin()">Login</button>
  </div>
</form>


